* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(17, 17, 31);
  --main-text-color: white;
  --main-green-color: rgb(120, 190, 32);
}

body {
  height: 100vh;
}

.ContainerNavbar {
  width: 100%;
  height: 100px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
  position: relative;
  border-bottom: 3px solid white;
}

.ContainerMainPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerSideBar {
  width: 14%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
}

#containerSideBar.open {
  display: flex;
  transform: translateX(0);
}

#SubContainerNavbar {
  transition: margin-left 0.3s ease;
}

.ContainerListSidebar {
  width: 100%;
  height: 135px;
  margin-top: 25px;
}
.ContainerListSidebar li {
  display: flex;
  align-items: center;
}
.ContainerListSidebar li:hover {
  cursor: pointer;
}

.ContainerListSidebar li h3 {
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  font-size: 18px;
}

.conatinerSideBarcontacts {
  width: 17%;
  height: 100%;
  background-color: var(--main-bg-color);
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  right: 0;
  align-items: flex-start;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
}

.containerCharts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.containerChart {
  max-width: 1600px;
}

.containerUser {
  margin-top: 80px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
}

.SubTextUser {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.SubContainerNavbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoSite {
  width: 150px;
  margin-top: 20px;
}

select {
  width: 200px;
  height: 30px;
  border-radius: 8px;
}

.TitleText {
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
}
.SubContainerUser {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.SubTextUser > h3,
h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.SubTextUser > h4 {
  font-weight: 500;
}
.IconNav {
  width: 30px;
  height: 30px;
  color: var(--main-text-color);
}
.IconSidebar {
  width: 25px;
  height: 25px;
  color: var(--main-text-color);
}
.IconX,
.IconXContacts {
  height: 80px;
  display: none;
}
.IconXContacts {
  margin-right: 30px;
}

.IconNav:hover {
  cursor: pointer;
}

.IconUser {
  margin-right: 30px;
}

.containerChart {
  width: 100%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subNavBarComponent {
  width: 85%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--main-green-color);
  display: flex;
  align-items: center;
  margin: 20px;
}

.textUserName {
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.subContainerChart {
  width: 800px;
  height: 400px;
  display: flex;
  border: 3px solid;
  border-color: var(--main-green-color);
  list-style: none;
  border-radius: 10px;
  margin: 10px;
}

#FirstChart {
  width: 490px;
  height: 300px;
}

#SecondChart {
  width: 355px;
  height: 300px;
}
#ThirdChart {
  width: 490px;
  height: 300px;
}
#FourthChart {
  width: 345px;
  height: 300px;
}
#FiveChart {
  width: 325px;
  height: 300px;
}

#SixChart {
  width: 400px;
  height: 400px;
}

#ContainerListSidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#UlChart {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 150px;
  background-color: var(--main-bg-color);
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
footer h3,
h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-green-color);
  margin-right: 20px;
  margin-left: 20px;
}
#up,
h1 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.subContainerFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.containerIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.IconFooter {
  width: 30px;
  margin: 20px;
}
.IconFooter :hover {
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 58px;
  border: 3px solid;
  border-color: var(--main-green-color);
}
table,
th,
td {
  border: 1px solid #dddddd;
}
th,
td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.status-sufficient {
  background-color: #d4edda;
  color: #155724;
}
.status-low {
  background-color: #fff3cd;
  color: #856404;
}
.status-critical {
  background-color: #f8d7da;
  color: #721c24;
}
/* RESPONSIVIDADE  */

@media screen and (max-width: 1342px) {

  .logoSite{
    width: 116px;
  }
}

@media screen and (max-width: 890px) {
  .subContainerChart {
    width: 380px;
    height: 210px;
  }
  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
  .IconUser {
    display: none;
  }
  .selectLanguage {
    display: none;
  }
  .logoSite {
    width: 103px;
  }

  .containerSideBar {
    width: 28%;
  }
  .ContainerListSidebar li h3 {
    margin-left: 10px;
    font-size: 15px;
  }
  .IconSidebar {
    width: 20px;
    height: 20px;
  }
  #SubContainerNavbar {
    margin-left: -10%;
    display: flex;
    justify-content: space-evenly;
  }
  .subNavBarComponent {
    width: 85%;
    margin: 0px;
    margin-bottom: 20px;
  }
  #UlChart {
    display: flex;
    flex-direction: column;
  }
  .logoSite {
    width: 90px;
  }
  .conatinerSideBarcontacts {
    display: none;
  }
  table{
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .subContainerChart {
    width: 355px;
    height: 260px;
  }
  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
  .IconUser {
    display: none;
  }
  .selectLanguage {
    display: none;
  }
  .logoSite {
    width: 103px;
  }

  .containerSideBar {
    width: 28%;
  }
  .ContainerListSidebar li h3 {
    margin-left: 10px;
    font-size: 15px;
  }
  .IconSidebar {
    width: 20px;
    height: 20px;
  }
  #SubContainerNavbar {
    margin-left: -10%;
    display: flex;
    justify-content: space-evenly;
  }
  .subNavBarComponent {
    width: 85%;
    margin: 0px;
    margin-bottom: 20px;
  }
  #UlChart {
    display: flex;
    flex-direction: column;
  }
  .logoSite {
    width: 90px;
  }
  .conatinerSideBarcontacts {
    display: none;
  }
  table{
    width: 360px;
  }
}
